.container_introduction {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    margin: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container_introduction .img_introduction {
    border-radius: 100%;
    height: 500px;
    width: 500px;
    transition: 1s;
    animation: float 5s ease-in-out infinite;
}

.container_introduction .img_introduction:hover {
    box-shadow: 0 0 1.2em #6200ee;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

.container_introduction .info_introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container_introduction .info_introduction .title_introduction {
    font-weight: 700;
    font-size: 3rem;
    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.container_introduction .info_introduction .description_introduction {
    font-size: 1.125rem;
    line-height: 1.425rem;
    letter-spacing: 1px;
    max-width: 45vw;
    color: #e0eff2;
}

.container_introduction .info_introduction .image_description {
    border-radius: 100%;
    height: 500px;
    width: 500px;
}

.container_introduction .info_introduction .box_introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 10vh;

    background-image: url('../../../../assets/nebula.webp');
    background-position: center;
    background-size: cover;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 3rem;
}

.container_introduction .info_introduction .box_introduction .box_social {
    transform: scale(1.5);
    transition: ease 300ms all;
    cursor: pointer;
}

@media(max-width: 768px) {
    .container_introduction .info_introduction .box_introduction {
        height: 9vh;
    }

    .container_introduction .info_introduction .title_introduction {
        font-size: 2rem;
    }

    .container_introduction .info_introduction .description_introduction {
        font-size: 0.8rem;
    }

    .container_introduction .img_introduction {
        height: 325px;
        width: 325px;
    }

    .container_introduction .info_introduction {
        gap: 2rem
    }
}

@media(max-width: 425px) {
    .container_introduction {
        flex-direction: column-reverse;
    }

    .container_introduction .img_introduction{
        margin-top: 1.5rem;
    }

    .container_introduction .info_introduction .description_introduction {
        font-size: 0.8rem;
        max-width: 80vw;
    }

    .container_introduction .info_introduction .box_introduction {
        width: 50%;
        height: 9vh;
    }
}

@media(max-width: 320px){

}