.container_introduction {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    margin: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 90vw;
    width: 100%;
}

.img_introduction {
    border-radius: 100%;
    height: 500px;
    width: 500px;
    transition: 1s;
    animation: float 5s ease-in-out infinite;
}

.img_introduction:hover {
    box-shadow: 0 0 1.2em #6200ee;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

.info_introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title_introduction {
    font-weight: 700;
    font-size: 3rem;
    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.description_introduction {
    font-size: 1.125rem;
    line-height: 1.425rem;
    letter-spacing: 1px;
    max-width: 45vw;
    color: #e0eff2;
}

.image_description {
    border-radius: 100%;
    height: 500px;
    width: 500px;
}

.box_introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 10vh;

    background-image: url('../../../../assets/nebula.webp');
    background-position: center;
    background-size: cover;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 3rem;
}

.box_social {
    transform: scale(1.3);
    transition: ease 300ms all;
    cursor: pointer;
}

.box_social:hover {
    transform: scale(1.6);
}


@media(max-width: 769px) {
    .box_introduction {
        height: 9vh;
    }

    .title_introduction {
        font-size: 2rem;
    }

    .description_introduction {
        font-size: 0.8rem;
    }

    .img_introduction {
        height: 325px;
        width: 325px;
    }

    .info_introduction {
        gap: 2rem
    }
}

@media(max-width: 672px) {
    .container_introduction {
        flex-direction: column-reverse;
    }
}

@media(max-width: 426px) {

    .img_introduction {
        margin-top: 1.5rem;
    }

    .description_introduction {
        font-size: 0.8rem;
        max-width: 80vw;
    }

    .box_introduction {
        width: 50%;
        height: 9vh;
    }
}

@media(max-width: 321px) {
    .img_introduction {
        height: 225px;
        width: 225px;
    }
}