.wrapper_herovideo {
    max-width: 90vw;
    max-height: 100vh;
}

.container_herovideo {
    z-index: 0;
    position: relative;
}

.herovideo {
    width: 100%;
    height: 100%;
    
    border-radius: 1rem;
}