.container_devinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 5rem;
}

.title_devinfo {
    font-weight: 700;
    font-size: 3rem;
    
    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.cards_devinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 4rem;
}

.card_devinfo {
    display: flex;
    flex-direction: column;

    width: 70vw;
    padding: 2rem;
    gap: 1rem;
    border-radius: 3rem;

    background-color: #111111;
    box-shadow: 30px -15px #6200ee;
}

.card_devinfoo {
    display: flex;
    flex-direction: column;

    width: 70vw;    
    gap: 1rem;
    padding: 2rem;
    border-radius: 3rem;

    background-color: #111111;
    box-shadow: -15px 30px #6200ee;
}

.title_devcard {
    font-size: 1.8rem;
    
    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.description_devcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    gap: 2rem;
}

.item_devcard {
    display: flex;

    max-width: 60vw;

    font-size: 1rem;
    line-height: 1.425rem;
    letter-spacing: 1px;

    color: #e0eff2;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

