.container_formemail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;

    background-color: #6200ee;

}

.form_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.section_formemail{
    display: flex;
    flex-direction: column;
}