.container_form{
    position: relative;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 95vw;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-image: url('../../assets/nebula1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: ease 1s all;
}

.title_form {
    font-size: 1.2rem;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.form_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.section_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: nowrap;
}

.input_form {
    color: #ffff;
    max-width: 70%;
    width: 100%;
    background: transparent;
    border-radius: 1rem;
    padding: 0.4rem;
    padding-left: 1em;

    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input_form::placeholder {
    color: #fff;
}

.input_formtext {
    color: #ffff;
    width: 100%;
    background: transparent;
    border-radius: 1rem;
    padding: 0.4rem;
    padding-left: 1em;

    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input_formtext::placeholder {
    color: #fff;
}

.form_check{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    color: #fff;
    text-shadow: 0 0 5px #111111;
    width: 100%;
}


.button_form {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.box_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #6200ee;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    border-radius: 2rem;

    max-width: 85vw;
    width: 500px;
    height: 10vh;
}

.box_title {
    font-size: 1rem;
    color: #e0eff2;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}
.box_image {
    transform: scale(0.6);
}

.link_contact {
    transition: ease 0.5s all;
}

.link_contact:hover {
    transform: scale(1.1);
}

@media(max-width: 425px){
    .box_title{
        font-size: 0.8rem;
    }
    .box_image{
        transform: scale(0.4);
    }
}

@media(max-width: 375px) {
    .container_formemail {
        padding: 1rem;
    }
}

