.body_design {
    background-color: #111111;

    height: clamp(100vh, 100%, 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    color: #fff;

    background-repeat: no-repeat;
    background-size: cover;
}


.button_modaldesign {
    padding: 2rem;
    font-size: 2rem;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: ease 1s all;
}

.button_modaldesign:hover {
    transform: scale(0.9);
}

.video_design {
    position: relative;
    bottom: 150px;
    z-index: 0;
    max-width: 70vw;
}

.divider_design {
    width: 10rem;
    height: 0.3rem;

    background: #6200ee;

    border-radius: 5rem;
}


@media(max-width: 769px) {
    .video_design {
        bottom: 130px;
        margin-bottom: -150px;
    }

    .button_modaldesign {
        font-size: 1.4rem;
    }
}

@media(max-width: 426px){
    .video_design{
        bottom: 120px;
    }
}