.container_modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    z-index: 1000;
    background-color: #fff;
    font-size: 1rem;
    max-width: 85vw;
    width: 80%;
    
    border-radius: 2rem;
}

.close_modal {
    position: relative;
    bottom: 1em;
    margin-bottom: -1rem;
    right: 0.5em;
    cursor: pointer;
}

.overlay_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.525);
    z-index: 1000;
}

.content_modal{
    margin-top: -1rem;
}

@media(max-width: 769px) {
}