.modal_designcontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    user-select: none;
}

.modal_designdescription {
    font-size: 1rem;
}

.modal_designsubtitle {
    font-size: 1.3rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}