.container_about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3rem;
}

.container_aboutinfo {
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 90%;
}

.box_aboutinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title_aboutinfo {
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 0 0 5px #FFFFFF;
}

.description_aboutinfo {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    width: 70%;
    color: #e0eff2;
    margin-top: 0.3rem;
}

.img_aboutinfo {
    width: 200px;
    height: 200px;
}

@media(max-width: 520px) {
    .img_aboutinfo {
        width: 150px;
        height: 150px;
    }

    .title_aboutinfo {
        font-size: 1.6rem;
    }

    .description_aboutinfo {
        font-size: 0.8rem;
    }
}

@media(max-width: 410px) {
    .description_aboutinfo {
        width: 100%;
    }
}