.container_service {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3rem;
}

.img_service {
    height: 250px;
    width: 250px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.title_service {
    font-weight: 700;
    font-size: 3rem;
    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.box_service {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 7rem;
    width: 80%;
}

.description_service {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    font-size: 1.2rem;
    padding: 2rem;
    border-radius: 1rem;
    transition: ease 1s all;
    user-select: none;
}

.description_service:hover {
    transform: scale(1.1);
}

@media(max-width: 944px){
    .box_service{
        gap: 1rem
    }
}

@media(max-width: 769px) {
    .box_service {
        width: 90%;
        margin: 10px;
        gap: 1rem;
    }

    .title_service {
        font-size: 2rem;
    }

    .description_service {
        font-size: 0.89rem;
        padding: 2rem;
    }

    .img_boxservice {
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 515px) {
    .box_service {
        width: 90%;
        margin: 1rem;
        gap: 1rem;
    }

    .img_service {
        width: 175px;
        height: 175px;
    }

    .img_boxservice {
        height: 100px;
        width: 100px;
    }

    .description_service {
        padding: 1.3rem;
        font-size: 0.8rem;
    }

}

@media(max-width: 375px){
    .description_service{
        font-size: 0.65rem;
    }
}