.container_footer {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 1rem;

    width: 100%;
    margin: 1.5rem;
}

.section_footer{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.footer_links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.description_footer{
    font-size: 0.8rem;
}


.icon_footer {
    transform: scale(1.3);
    transition: ease 300ms all;
    cursor: pointer;
}

.icon_footer:hover {
    transform: scale(1.6);
}