.outline_services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 1rem;
    margin-top: 3rem;
}

.box_outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 60%;
    gap: 0.1rem;
    padding: 2rem;
    cursor: default;
}

.description_outline {
    font-size: 1rem;
    line-height: 1.125rem;
}

.title_outline {
    font-size: 1.5rem;
}



.box_outline::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    box-sizing: border-box;
    height: 0;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 2px;
    transition: all .8s ease;
}

.box_outline::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    box-sizing: border-box;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 2px;
    transition: all .8s ease;
}

.box_outline:hover::after,
.box_outline:hover::before {
    border-color: #6200ee;
    width: 100%;
    height: 100%;
}

@media(max-width: 769px) {
    .description_outline {
        font-size: 0.8rem;
    }
}

@media(max-width: 533px) {
    .outline_services {
        flex-direction: column;
    }
}

@media(max-width: 426px) {
    .box_outline {
        width: 80vw;
    }

}