.container_designinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    gap: 5rem;
}

.title_designinfo {
    font-weight: 700;
    font-size: 3rem;

    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.card_designinfo {
    display: flex;
    flex-direction: column;

    width: 65%;
    padding: 2rem;
    gap: 2rem;
    border-radius: 3rem;

    background-color: #111111;
    box-shadow: 0 -10px #6200ee;
}

.title_designcard {
    font-size: 1.8rem;

    color: #e0eff2;
    text-shadow: -4px 3px 0 #111111, -5px 5px 0 #6200ee;
}

.description_designcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 2rem;
}

.item_designcard {
    display: flex;

    font-size: 1rem;
    line-height: 1.425rem;
    letter-spacing: 1px;

    color: #e0eff2;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

@media(max-width: 769px) {
    .card_designinfo{
        width: 85%;
    }
    .title_designinfo {
        font-size: 2rem;
    }

    .item_designcard{
        font-size: 0.8rem;
    }

    .title_designcard{
        font-size: 1.4rem;
    }
}
